<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plist version="1.0">
  <dict>
    <key>CFBundleName</key>
    <string>FigTree v1.4.2</string>
    <key>CFBundleShortVersionString</key>
    <string>1.4.2</string>
    <key>CFBundleGetInfoString</key>
    <string>FigTree v1.4.2, Copyright 2006-2015, Andrew Rambaut</string>
    <key>CFBundleAllowMixedLocalizations</key>
    <string>false</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleExecutable</key>
    <string>universalJavaApplicationStub</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleIconFile</key>
    <string>FigTree.icns</string>
    <key>CFBundleIdentifier</key>
    <string>figtree</string>
    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeName</key>
        <string>FigTree tree file</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleTypeIconFile</key>
        <string>FigTreeDocIcon.icns</string>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>tree</string>
          <string>tre</string>
          <string>trees</string>
          <string>ntf</string>
          <string>tf</string>
        </array>
      </dict>
    </array>
    <key>Java</key>
    <dict>
      <key>MainClass</key>
      <string>figtree.application.FigTreeApplication</string>
      <key>JVMVersion</key>
      <string>1.6+</string>
      <key>ClassPath</key>
      <array>
        <string>$JAVAROOT/figtree.jar</string>
        <string>$JAVAROOT/quaqua.jar</string>
        <string>$JAVAROOT/libquaqua.jnilib</string>
        <string>$JAVAROOT/libquaqua64.jnilib</string>
      </array>
      <key>VMOptions</key>
      <string>-Xmx1024M</string>
      <key>Arguments</key>
      <string/>
      <key>Properties</key>
      <dict>
        <key>apple.laf.useScreenMenuBar</key>
        <string>true</string>
      </dict>
    </dict>
  </dict>
</plist>
